
## Tutorial: Data operations with Advanced Data Types and Pandas

**Note:** This lab session is graded. Complete all the exercises and submit the ipynb to canvas under assignment **Tutorial: Advanced Data Types+ Libraries + Pandas ** by end of Friday (02/02/2024, 11:59PM)

## 0. Recap
- Last Tutorial: Introduction to Python Programing
- Topics Covered: Variables and Data types, functions, branching (IF-ELSE), looping
- Today's topics:
    - Lists
    - Dictionaries
    - Strings
    - Python Libraries
    - Pandas for tabular data loading

## 1. Advanced Data Types: List
- Ordered sequence of items of mixed types
- Can contain many data element of basic data types
- Access through indices. Indices start with the value 0
- Loop through "for" loop structure

In [ ]:
list1 = [1,2,3,"bob",3.9,True]
list2 = [1,2,3,4,5,6]

print (list1[0])
print (list1[4])
print (list1[3])

print ("Now printing elements in List 2")
for element in list2:
    print (element)

blah = "AAA"
list3 = ["XYZ", 9.6, blah, list2]
print (list3)

1
3.9
bob
Now printing elements in List 2
1
2
3
4
5
6
['XYZ', 9.6, 'AAA', [1, 2, 3, 4, 5, 6]]

### 1.1. List Operations:
- Finding length of a list
- Reversing a list
- Sorting a list of numbers / floats
- Inserting elements
- Deleting elements
- Slicing

In [ ]:
# Finding length

list1 = [1,2,3,4,5,6]

print (len(list1))

6

In [ ]:
# Reversing

list1.reverse()

print (str(list1))

[6, 5, 4, 3, 2, 1]

In [ ]:
# Sorting

list2 = [3, 9.6, 200, -9, 45]

sorted_list2_ascending = sorted(list2)
sorted_list2_descending = sorted(list2, reverse=True)

print (str(sorted_list2_ascending))
print (str(sorted_list2_descending))

[-9, 3, 9.6, 45, 200]
[200, 45, 9.6, 3, -9]

In [ ]:
# Inserting elements

empty_list = []

empty_list.append(1)
empty_list.append(2)

print (empty_list)

another_list = [8,2,5,4,1,3]

for element in another_list:
    empty_list.append(element)

print (empty_list)

[1, 2]
[1, 2, 8, 2, 5, 4, 1, 3]

In [ ]:
# Deleting element

full_list = [1, 2, 8, 2, 5, 4, 1, 3]
full_list.remove(8)

print (full_list)

[1, 2, 2, 5, 4, 1, 3]
[1, 1, 4, 3, 2]

In [ ]:
# Slicing

list3 = [3, 9.6, 200, -9, 45]

# extract the first five items
sublist1 = list3[0:3]
print (str(sublist1))

# extract the items after 2nd element
sublist2 = list3[2:]
print (str(sublist2))

# extract items from locations 2,3,4
sublist3 = list3[1:4]
print (str(sublist3))

# extract the last element
last_element = list3[-1]
print (last_element)

[3, 9.6, 200]
[200, -9, 45]
[9.6, 200, -9]
45

### E1. Exercise: Perform the following list operations
- Create an empty list,
- Add items ["apple","banana","sugar"]
- Append items "cookie","chocolate" to the list
- Reverse the list and print
- Print items from position 2 to 5 (2 inclusive and 5 exclusive)

In [ ]:
list_1 = ['apple', 'banana', 'sugar']
list_1.append('cookie')
list_1.append('chocolate')

list_1.reverse()
print(list_1)

print(list_1[1:4])

['chocolate', 'cookie', 'sugar', 'banana', 'apple']
['cookie', 'sugar', 'banana']

## 2. Advanced Data Types: Dictionary
- Dictionaries are used to store data values in key:value pairs.
- Keys are always unique. Duplications not allowed
- Both keys and values can be variables or constants

In [ ]:
# Empty dictionary
dictionary_1 = {}

# Add eids and names of students
dictionary_1["abc123"] = "Abigali"
dictionary_1["m343"] = "Melissa"
dictionary_1["h43"] = "Hue"

# Keys and values can be variables
a_key = "ju343"
value = "John"
dictionary_1[a_key] = value

print (dictionary_1)


# A dicationary can contain any basic data type as key / value

dictionary_2 = {}

dictionary_2[1000] = 3.15
dictionary_2[2000] = 6.25
dictionary_2[2000] = 3.2

print (dictionary_2)

{'abc123': 'Abigali', 'm343': 'Melissa', 'h43': 'Hue', 'ju343': 'John'}
{1000: 3.15, 2000: 3.2}

In [ ]:
#Accessing information for a certain key

name = dictionary_1["h43"]
print (name)

some_key = "abc123"
name = dictionary_1[some_key]
print (name)

Hue
Abigali

In [ ]:
# Access only keys and deal with them

keys = dictionary_1.keys()

# We are converting keys to a list
print (list(keys))

# Iterating over all keys to print only elements

for key in keys:
    print (dictionary_1[key])

['abc123', 'm343', 'h43', 'ju343']
Abigali
Melissa
Hue
John

### E2. Exercise: Create a Dictionary for medicines
- Create dictionary from the following data for symptoms:medication
    - `"cough" : "dextromethorphan"`
    - `"diarrhea": "loperamide"`
    - `"fever": "acetaminophen", "ibuprofen"` (hint: value is a list here)
- get the keys of the dictionary in a list
- iterate through the keys and print the values one by one

In [ ]:
symptom_dictionary = {}
symptom_dictionary['cough'] = ['dextromethorphan']
symptom_dictionary['diarrhea'] = ['loperamide']
symptom_dictionary['fever'] = ['acetaminophen', 'ibuprofen']

keys = symptom_dictionary.keys()
print(list(keys))

for key in keys:
  print(symptom_dictionary[key])

['cough', 'diarrhea', 'fever']
['dextromethorphan']
['loperamide']
['acetaminophen', 'ibuprofen']

## 3. Advanced Data Types: Strings
- Free flowing text surrounded by quotes (both single and double quotes acceptable)
- Whenever a variable stores a string, it becomes capable of certain string operations
- We can insert newlines and tabs in strings through special characters, a.k.a escape sequences
- We can convert / cast a basic variable into string through the generic function `str()`
- We can concatanate strings using `+` operator

In [ ]:
string1 = "hello world"
print (string1)

string2 = "hello world\nWhat's going on?\t OK"
print (string2)

string3 = str(1234)
print (string3)

string4 = string1+string3
print (string4)

hello world
hello world
What's going on?	 OK
1234
hello world1234

### 3.1 String Operations
- Slicing and extracting substrings
- Replacing
- Searching through conditions
- Splitting and looping
- Joining strings

In [ ]:
string1 = "Welcome to data science 101"

# Slice and get substring from range 3 to 9
string1_sliced = string1[3:9]
print (string1_sliced)

come t

In [ ]:
string2 = "Welcome to data science 101"
string2_replaced = string2.replace("data science", "machine learning")

print (string2_replaced)

# Replacing all occurrence of a match
string3 = "programing aims at writing programs and a program is a block of code"
string3_replaced = string3.replace("program", "script")
print (string3_replaced)

# Replacing only the first N occurrences at a certain position
string4 = "programing aims at writing programs and a program is a block of code"
string4_replaced = string3.replace("program", "script",2)
print (string4_replaced)

Welcome to machine learning 101
scripting aims at writing scripts and a script is a block of code
scripting aims at writing scripts and a program is a block of code

In [ ]:
# Search for a match
string5 = "We are covering python basics"
another_string = "python"

if another_string in string5:
    print (f"Yes, {another_string} is present in the original string: {string5}")
else:
    print (f"No, {another_string} is  not present in the original string: {string5}")

yet_another_string = "javascript"

if yet_another_string in string5:
    print (f"Yes, {yet_another_string} is present in the original string: {string5}")
else:
    print (f"No, {yet_another_string} is  not present in the original string: {string5}")

Yes, python is present in the original string: We are covering python basics
No, javascript is  not present in the original string: We are covering python basics

In [ ]:
# Splitting and looping

string5 = "We are covering python basics"

# split by a word "covering"
list_containing_splits = string5.split("covering")
print (list_containing_splits)

# split by <SPACE>
list_containing_splits = string5.split(" ")
print (list_containing_splits)

# looping over the list and printing words
for word in list_containing_splits:
  print (word)

['We are ', ' python basics']
['We', 'are', 'covering', 'python', 'basics']
We
are
covering
python
basics

In [ ]:
# Joining a list of strings by a common delimeter

list_of_words = ["the", "quick", "brown", "fox"]
string_from_list_of_words = " ".join(list_of_words)

print (string_from_list_of_words)

comma_separated_string_from_list_of_words = ",".join(list_of_words)
print (comma_separated_string_from_list_of_words)

the quick brown fox
the,quick,brown,fox

### E3. Exercise: Carry out the following string operations
- Create a string "Data science is the eye whereas computer science is the body"
- Now, replace all occurences of "science" with "engineering". Print the resultant string
- Split the resultant string by "space" to form a list
- Print the list

In [ ]:
string_1 = 'Data science is the eye whereas computer science is the body'
replacement = string_1.replace('science', 'engineering')
print(replacement)
replacement_list = replacement.split(' ')
print(replacement_list)

Data engineering is the eye whereas computer engineering is the body
['Data', 'engineering', 'is', 'the', 'eye', 'whereas', 'computer', 'engineering', 'is', 'the', 'body']

## 4. Python Libraries
- Collection of different modules
- Modules contain bundle of codes that can be repeatedly used in other programs
- Typically the library code are available through functions
- You should always check documentation and examples provided by the library

In [ ]:
# Generate a random number between 1, 100

import random

print (random.randint(1,100))

# Compute logarithm of a nuber

import math

print (math.log(100))
print (math.log(100, 10))

from random import randint
print (randint(1,100))

## 5. Reading a file in Python
Let's read a sample text file in Python and manipulate it's contents

We do not have to use any library here. Python provides inbuilt functions to read / write files

In [ ]:
# We read the file line by line and store as list

file_content = []
with open("sample_text.txt","r") as file:
    for line in file:
        print (line)
        file_content.append(line)

print (file_content)

# We can now do list operations such as slicing, reversing, manipulating elements
# Now let's reverse the file_content
file_content.reverse()
print (file_content)

# And write back to a new file
with open("file_reversed.txt","w") as file_to_write:
    for line in file_content:
        file_to_write.write(line)

## Exercise E4: File reading

- Copy the first paragrap of https://en.wikipedia.org/wiki/Data_science . Store it in a text file and name it "ds.txt"

- Upload ds.txt to colab and read the content of the file into a list

- Print the list

In [ ]:
ds_content = []
with open("ds.txt","r") as file:
  for line in file:
    line = line.replace('\xa0', ' ')
    ds_content.append(line)
print(ds_content)

['Data science is an interdisciplinary academic field[1] that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.[2]']

## 4. Loading and Processing Numerical Data in Tables
- Tables can be represented in various formats: Comma Separated (CSV), Tab Separated, Excel, Parquet, DataFrames
- Generally CSV formats are preferred due to their better readability
- We use pandas libraries to load and process data in tabular format
- Install pandas if you hit error "No module named pandas"
    - Install by executing `!pip instal pandas`

In [ ]:
import pandas

# Load the CSV file into a DataFrame
df = pandas.read_csv("sample_salary_data.csv")

# Display some rows from the DataFrame
df.head()

Let's try to access some elements from the DataFrame now

In [ ]:
print (df["Age"])

# Convert the column to list

salary = df["Salary"].tolist()

print (salary)

# Exercise E5: Load a tabular data from a Microsoft Excel file

- Load the data in `sample_product_data.xlsx` (Download from **Canvas->Files>Week3**) into a dataframe. Hint: use `pd.read_excel("sample_salary_data.csv")`.

- Convert the price and quantity columns into lists. Print the lists.

- Compute the average price and quantity. Use the formula `sum(l)/len(l)` to compute the average of a list named `l`.

- Now find out which product has the maximum price.

In [ ]:
import pandas as pd

dataframe = pd.read_excel("sample_product_data.xlsx")

price = dataframe["Price"].tolist()
quantity = dataframe["Quantity"].tolist()
product = dataframe["Product"]


print(price)
print(quantity)

average_price = sum(price)/len(price)
average_quantity = sum(quantity)/len(quantity)
print(average_price)
print(average_quantity)

maximum_price = max(price)
counter = 0
for prod_name in product:
  if price[counter] == maximum_price:
    print(prod_name)
  counter += 1

[1200, 800, 100, 15, 50, 150, 20, 30, 80, 75]
[10, 20, 50, 100, 30, 15, 80, 40, 12, 25]
252.0
38.2
Laptop

# 6. Some more DataFrame concepts

## 6.1. Creating a dataframe from a Dictionary
Let's create a dataframe from a dictionary.

We define a list of lists named `data`. Each inner list represents a row of data, where the first element is the name, the second is the age, and the third is the city.

In [ ]:
import pandas

data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pandas.DataFrame(data)

df.head()

    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   22    Los Angeles

## 6.2. Creating a DataFrame from a list of list

In [ ]:
data = [
    ['John', 25, 'New York'],
    ['Alice', 30, 'San Francisco'],
    ['Bob', 22, 'Los Angeles']
]

columns = ['Name', 'Age', 'City']
df = pandas.DataFrame(data, columns=columns)

df.head()

    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   22    Los Angeles

## 6.3. DataFrame info() method

- The `info()` method provides a concise summary of the DataFrame, including the data types of each column, the number of non-null values, and memory usage.
- It's useful for quickly checking the structure of the DataFrame, identifying missing values, and understanding the data types.

In [ ]:
data = [
    ['John', 25, 'New York'],
    ['Alice', 30, 'San Francisco'],
    ['Bob', 22, 'Los Angeles']
]

columns = ['Name', 'Age', 'City']
df = pandas.DataFrame(data, columns=columns)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

## Exercise E6. Create and display a dataframe

- Create a DataFrame representing the grades of students in a class. Include columns for `student names`, `Math marks`, and `English marks`. Use at least 5 rows of data.

- Display the first few rows of the DataFrame to inspect the data using `head()` method.

- Display only `student names`.

- Print a summary of the dataset through `info()` method.

**Optional (not graded)**
- Add one more column to the dataframe called `average_marks` which should contain the average of Math marks and English marks for each student.

In [1]:
import pandas
data = [
    ['John', 85, 90],
    ['Emily', 70, 75],
    ['Bob', 90, 100],
    ['Niha', 30, 40],
    ['Madhu', 25, 45]
]

columns = ['student names', 'Math marks', 'English marks']
df = pandas.DataFrame(data, columns=columns)

print(df.head(2))

print(df["student names"])

df.info()

  student names  Math marks  English marks
0          John          85             90
1         Emily          70             75
0     John
1    Emily
2      Bob
3     Niha
4    Madhu
Name: student names, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student names  5 non-null      object
 1   Math marks     5 non-null      int64
 2   English marks  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

**Note:** we  did not cover Python NumPy. It is a good idea to go through this link to know more: https://www.geeksforgeeks.org/python-numpy/